*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Vazirmatn',sans-serif;
}

body{

background:linear-gradient(#87CEEB,#E0F7FA);

min-height:100vh;

direction:rtl;

}

.container{

max-width:900px;

margin:auto;

padding:20px;

}

h1{

text-align:center;

font-size:42px;

color:#ff4081;

margin-top:20px;

}

h2{

text-align:center;

color:#3f51b5;

margin:15px 0;

}

input{

width:100%;

padding:16px;

font-size:22px;

border-radius:18px;

border:none;

margin-top:20px;

text-align:center;

}

.genderBox{

display:flex;

justify-content:center;

gap:30px;

margin:25px 0;

font-size:22px;

}

button{

cursor:pointer;

transition:.3s;

}

#startBtn{

width:100%;

padding:18px;

font-size:24px;

background:#ff9800;

color:white;

border:none;

border-radius:20px;

}

#startBtn:hover{

transform:scale(1.05);

}

.topBar{

display:flex;

justify-content:space-between;

align-items:center;

background:white;

padding:15px;

border-radius:20px;

margin:20px 0;

box-shadow:0 8px 18px rgba(0,0,0,.15);

font-size:22px;

}

#avatar{

font-size:45px;

}

.woodpecker{

font-size:80px;

text-align:center;

animation:jump 1s infinite;

}

#story{

background:white;

padding:20px;

border-radius:20px;

font-size:22px;

text-align:center;

margin:20px 0;

box-shadow:0 6px 15px rgba(0,0,0,.15);

}

.cards{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:18px;

margin-top:25px;

}

.wordCard{

background:#4caf50;

color:white;

font-size:28px;

font-weight:bold;

padding:22px;

border:none;

border-radius:20px;

box-shadow:0 8px 15px rgba(0,0,0,.2);

}

.wordCard:hover{

transform:scale(1.06);

}

.correct{

background:#2ecc71 !important;

animation:pulse .5s;

}

.wrong{

background:#e74c3c !important;

animation:shake .5s;

}

#message{

height:45px;

margin:25px;

text-align:center;

font-size:28px;

font-weight:bold;

color:#ff5722;

}

#nextBtn{

width:100%;

padding:18px;

background:#03A9F4;

color:white;

font-size:24px;

border:none;

border-radius:20px;

margin-top:20px;

display:none;

}

#finishPage{

text-align:center;

}

#finishAvatar{

font-size:80px;

margin:20px;

}

#finalScore{

font-size:60px;

color:#e91e63;

margin:20px;

}

footer{

margin-top:40px;

background:white;

padding:18px;

border-radius:20px;

text-align:center;

font-size:18px;

box-shadow:0 6px 15px rgba(0,0,0,.15);

}

@keyframes pulse{

0%{transform:scale(1);}

50%{transform:scale(1.15);}

100%{transform:scale(1);}

}

@keyframes shake{

0%{transform:translateX(0);}

25%{transform:translateX(-10px);}

50%{transform:translateX(10px);}

75%{transform:translateX(-10px);}

100%{transform:translateX(0);}

}

@keyframes jump{

0%{transform:translateY(0);}

50%{transform:translateY(-15px);}

100%{transform:translateY(0);}

}

@media(max-width:700px){

.cards{

grid-template-columns:repeat(2,1fr);

}

.wordCard{

font-size:22px;

}

h1{

font-size:30px;

}

.topBar{

flex-direction:column;

gap:10px;

}

}
